body {
    background-color: #000;
    z-index: 0;
}

#canvas{
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1;
}

#video{
    position: absolute;
    top:1000px;
    left: 1000px;
    z-index: -1;

}
h3{
    color: white;
    font-family: "Courier New";
}
p{
    color: white;
    font-family: "Courier New";
}
h5{
    color: white;
    font-family: "Courier New";
}